.nosotros{
    text-align: justify;
}

.carousel-caption{
    bottom: 125px;
}
.carousel-caption h2{
    font-size: 50px;
}
.carousel-caption a{
    padding: 10px 15px;
}
.carousel-caption p{
    width: 100%;
    line-height: 2;
    font-size: 20px;
}

.cardd{
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

.profile-area{
    padding: 80px 0;
}

.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%; 
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: 20px;
}